# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-compat

# Files from Forge MDK
forge*changelog.txt
/docs/
/src/test/
/logs/
/hs_err_pid*.log
/replay_pid*.log
